*{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  font-family: "Unbounded", sans-serif;
}
/* navbar  css*/
ul li a.active{
  font-weight: 700;
  color: #a17f4a;
}


/* home:hero css */
.hero-keyframe{
  background-color: #f5efe6;
  animation: gradientBackground 3s infinite;
}

@keyframes gradientBackground {
  0% {
    background-color: #ecdabf;
}
25% {
    background-color: #dcba94;
}
50% {
    background-color: #eabb74;
}
75% {
    background-color: #dcba94;
}
100% {
    background-color: #ecdabf;
}
}
.features-banner-shadow:hover {
  box-shadow: rgba(250, 2, 2, 0.3) 10px 10px 20px, rgba(255, 0, 0, 0.5) 0px -10px 20px;
}


/* about page */
.about__img {
  width: 80%;
  box-shadow: rgba(0, 0, 0, 0.3) 10px 10px 20px, rgba(0, 0, 0, 0.5) 0px -10px 20px;
  border-radius: 20px;
  overflow: hidden;
}






@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }
  70% {
    transform: scale(1.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 0.6;
  }
}

.pulse-circle {
  position: absolute;
  width: 64px;
  height: 64px;
  border-radius: 9999px;
  background: radial-gradient(rgba(0, 255, 123, 0.4), rgba(0, 255, 123, 0));
  animation: pulse 2s infinite;
  z-index: 0;
}